.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  padding: 10px;
  border: whitesmoke 3px solid;
  border-radius: 7px;
  background-color: slateblue;
  cursor: pointer;
}
@media screen and (min-width: 580px) {
  button:hover {
    background-color: rgb(209, 243, 253);
  }
}
